
p, h1, h2, h3 {
    text-align: center;
    /* color: black */
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease;
  color: white;
}

.heading {
  backdrop-filter: blur(30px); 
  background-color: rgba(0, 0, 0, 0.589);
  color: white;
}

.background-image {
  background-image: url('/photos/N461-5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.toggle-switch {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

img {
    width: 1000px;
}

img:hover, frame:hover {
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
  transform: translate(-5px, -5px);

}


/* Mobile */
@media only screen and (max-width: 767px) {
    img {
      width: 100%;
    }
  }

iframe, img {
  border-radius: 0px;
  border: 1px solid white;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;  
}


a {
  color: #1e80db;
}

.metro {
  display: flex;
  gap: 30px;
  margin-left: 5%;
  align-items: flex-start;
}
table {
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.589);
}
th, td {
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
  /* text-align: left; */
}



td {
  font-family: monospace;
  max-width: 250px;
}

tr:nth-child(even) {
  background-color: #008ed046;
}

tr {
  transition: background-color 0.1s ease;
}

tr:hover {
  background-color: #00d0adc9;
}

.table-container, .map {
  backdrop-filter: blur(10px); 
}
.scrapped {
  background-color: rgba(255, 0, 0, 0.411);
}

.map {
  background-color: rgba(0, 0, 0, 0.459);
}
