
p, h1, h2, h3 {
    text-align: center;
    color: black
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(/photos/N461-5.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
}

img {
    width: 1000px;
}

img:hover, frame:hover {
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
  transform: translate(-5px, -5px);

}


/* Mobile */
@media only screen and (max-width: 767px) {
    img {
      width: 100%;
    }
  }

iframe, img {
  border-radius: 0px;
  border: 1px solid white;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;  
}


a {
  color: #1e80db;
}

.metro {
  display: flex;
  gap: 30px;
  margin-left: 5%;
  align-items: flex-start;
}
table {
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.418);
}
th, td {
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
  /* text-align: left; */
}

td {
  font-family: monospace;
  max-width: 250px;
}

tr:nth-child(even) {
  background-color: #008ed046;
}

.table-container, .map {
  backdrop-filter: blur(10px); 
}
.scrapped {
  background-color: rgba(255, 0, 0, 0.411);
}

.map {
  background-color: rgba(0, 0, 0, 0.459);
}
