
p, h1 {
    text-align: center;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #313536;
  color: white;
}

img {
    width: 1000px;
}

img:hover, frame:hover {
  box-shadow: 0 20px 8px rgba(0, 0, 0, 0.5);
  transform: translate(-5px, -5px);

}


/* Mobile */
@media only screen and (max-width: 767px) {
    img {
      width: 100%;
    }
  }

iframe, img {
  border-radius: 20px;
  border: 5px solid wheat;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;  
}

a:visited, a {
  color: wheat;
}