
p, h1 {
    text-align: center;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000000;
  color: white;
}

img {
    max-width: 1000px;
    max-height: 800px;
}

img:hover, frame:hover {
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
  transform: translate(-5px, -5px);

}

.searchForm {
  margin-left:40%;
  margin-right: 40%;
  /* backdrop-filter: blur(30px);  */
  background-color: rgba(141, 141, 141, 0.267);
  color: white;
  padding: 10px;
  /* border: 1px solid black; */
  margin-top: 10px;
  border-radius: 10px;
}

.searchForm input {
  width: 100%;
  box-sizing: border-box;
}

.searchForm input[type="checkbox"] {
    margin-right: 8px;
    width: auto;
}


/* Mobile */
@media only screen and (max-width: 767px) {
    img {
      width: 100%;
    }
  }

iframe, img {
  border-radius: 15px;
  border: 2px solid white;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;  
}

a:visited, a {
  color: white;
}