<!DOCTYPE html>
<html lang="en">

<head>
    <title>Victorian Rail Photos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Victorian Rail Photos is a website that hosts photos of trains and carriages in Victoria, Australia.">
    <meta name="keywords" content="xm9g, trains, 9g, ">
    <meta name="author" content="XM9G">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/indexStyle.css') }}">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "lm3dnb8ha4");
    </script>
    <!-- Netlify Login -->
    <!-- <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> -->

</head>

 <script>
    const images = [
        "{{ url_for('static', filename='images/VL357.webp') }}",
    ];

    function getRandomImage() {
        return images[Math.floor(Math.random() * images.length)];
    }
    </script>

    <style>
    .background-image {
        background-image: var(--random-image);
        background-size: cover;
        background-repeat: no-repeat;
    }
    </style>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        document.body.style.setProperty('--random-image', `url(${getRandomImage()})`);
    });
    </script>

<body>
    <div class="heading">
        <h1>Victorian Rail Photos</h1>
        <h3 class="subheading">1,585 photos of 860 trains</h3>
    </div>

    <div class="toggle-switch">
        <!-- search box -->
        <input type="text" id="searchInput" placeholder="Enter carriage number...">
        <button onclick="searchCarriage()">Search</button>
        <div id="notFound" style="display: none; color: red;">Carriage not found</div>
        <!-- Background toggle -->
        <div class="bg-toggle">
        <label for="background-toggle">Background Image</label>
        <input type="checkbox" id="background-toggle"></div>
    </div>

    <script>
    function searchCarriage() {
        let input = document.getElementById('searchInput').value.toUpperCase();
        let notFoundDiv = document.getElementById('notFound');
        
        // Try to find any link that contains the input text
        let links = document.getElementsByTagName('a');
        for (let link of links) {
            if (link.textContent.toUpperCase() === input) {
                window.location.href = link.href;
                notFoundDiv.style.display = 'none';
                return;
            }
        }
        
        // If we get here, no match was found
        notFoundDiv.style.display = 'block';
    }

    // Enable search on Enter key
    document.getElementById('searchInput').addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            searchCarriage();
        }
    });

    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    }

    document.addEventListener('DOMContentLoaded', function() {
        let number = getUrlParameter('number');
        if (number) {
            let links = document.getElementsByTagName('a');
            for (let link of links) {
                if (link.textContent.toUpperCase() === number.toUpperCase()) {
                    window.location.href = link.href;
                    return;
                }
            }
            document.getElementById('notFound').style.display = 'block';
        }
    });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
        new Crate({
          server: '1214139268725870602',
          channel: '1322889624250486848'
        })
      </script>

    <script>
        function updateBackground() {
            let isEnabled = localStorage.getItem('backgroundEnabled');

            if (isEnabled === null) {
                isEnabled = 'true';
                localStorage.setItem('backgroundEnabled', isEnabled);
            }

            isEnabled = isEnabled === 'true';

            document.body.classList.toggle('background-image', isEnabled);
            // document.body.style.setProperty('color', isEnabled ? 'white' : 'black');
            document.getElementById('background-toggle').checked = isEnabled;
        }

        document.getElementById('background-toggle').addEventListener('change', function () {
            const isEnabled = this.checked;
            localStorage.setItem('backgroundEnabled', isEnabled);
            updateBackground();
        });

        document.addEventListener('DOMContentLoaded', updateBackground);
    </script>
    <!-- <div data-netlify-identity-menu></div> -->


    <script>
        document.addEventListener('DOMContentLoaded', function() {
  const links = document.querySelectorAll('.unused-hover-image');
  const popupImage = document.getElementById('popup-image');
  const popupImg = popupImage.querySelector('img');

  links.forEach(link => {
    link.addEventListener('mouseenter', function(e) {
      const imagePath = this.getAttribute('data-image');
      if (imagePath) {
        popupImg.src = imagePath;
        popupImage.style.display = 'block';
        updatePopupPosition(e);
      }
    });

    link.addEventListener('mouseleave', function() {
      popupImage.style.display = 'none';
    });

    link.addEventListener('mousemove', updatePopupPosition);
  });

  function updatePopupPosition(e) {
    // Position the popup image near the mouse cursor
    popupImage.style.left = (e.pageX + 10) + 'px'; // 10px to the right of the cursor
    popupImage.style.top = (e.pageY + 10) + 'px';  // 10px below the cursor
  }
});
</script>

    <div class="sub-heading">
        <h2>Welcome!</h2>
        <b?>Welcome to VictorianRailPhotos.com, here we host hundreds of photos of Locomotives and Carriages in the state of Victoria, Australia. Our archive includes photos for most Metro and V/Line trains, as well as a growing collection of freight and heritage locomotives. We also have a large collection of photos of railway stations across Victoria, including suburban and regional stations.
        <br><br>
        Enter a number in the search box above to find a specific train, or browse through the list below to see all the trains we have photos of.
        <br><br>
        Jump to:
        <br><a href="#metro">Metro Trains Melbourne</a>
        <br><a href="#vline">V/Line</a>
        <br><a href="#other">Freight/Heritage</a>
        <br><a href="#stations">Railway Stations</a>
        <br><br>
        <b>If you have any photos you would like to submit, please use the <a href="/submit.html">Submit Photo</a> page.</b>
        </p>
    </div>
    <!-- <a href="#stations">Jump to station photos</a> -->
    <div class="sub-heading" id="metro">
        <h2>Metro Trains Melbourne</h2>
        <p>All cars with links have photos</p>
    </div>
    
    <div class="metro">
    <div class="table-container">
        
        <table>
            <tr><th><h4>Comeng</h4></th></tr>
            {% for train in comeng_trains %}
            <tr>
                <td class="{% if train.scrapped %}scrapped{% endif %}">
                    {% set car_numbers = [] %}
                    {% for number in train.cars %}
                        {% if number|upper in linkedNumbers %}
                            {% set _ = car_numbers.append('<a href="/trains/' ~ number ~ '">' ~ number ~ '</a>') %}
                        {% else %}
                            {% set _ = car_numbers.append(number) %}
                        {% endif %}
                    {% endfor %}
                    {{ car_numbers|join('-')|safe }}
                </td>
                {% if train.scrapped %}
                <td class="scrapped">Scrapped</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    
    <div class="table-container">
        <table>
            <tr><th><h4>X'Trapolis 100</h4></th></tr>
            {% for train in xtrap100_trains %}
            <tr>
                <td class="{% if train.scrapped %}scrapped{% endif %}">
                    {% set car_numbers = [] %}
                    {% for number in train.cars %}
                        {% if number|upper in linkedNumbers %}
                            {% set _ = car_numbers.append('<a href="/trains/' ~ number ~ '">' ~ number ~ '</a>') %}
                        {% else %}
                            {% set _ = car_numbers.append(number) %}
                        {% endif %}
                    {% endfor %}
                    {{ car_numbers|join('-')|safe }}
                </td>
                {% if train.scrapped %}
                <td class="scrapped">Scrapped</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
   
    <div class="table-container">
        <table>
            <tr><th><h4>Siemens Nexas</h4></th></tr>
            {% for train in siemens_trains %}
            <tr>
                <td class="{% if train.scrapped %}scrapped{% endif %}">
                    {% set car_numbers = [] %}
                    {% for number in train.cars %}
                        {% if number|upper in linkedNumbers %}
                            {% set _ = car_numbers.append('<a href="/trains/' ~ number ~ '">' ~ number ~ '</a>') %}
                        {% else %}
                            {% set _ = car_numbers.append(number) %}
                        {% endif %}
                    {% endfor %}
                    {{ car_numbers|join('-')|safe }}
                </td>
                {% if train.scrapped %}
                <td class="scrapped">Scrapped</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>HCMT</h4></th></tr>
            {% for train in hcmt_trains %}
            <tr>
                <td class="{% if train.scrapped %}scrapped{% endif %}">
                    {% set car_numbers = [] %}
                    {% for number in train.cars %}
                        {% if number|upper in linkedNumbers %}
                            {% set _ = car_numbers.append('<a href="/trains/' ~ number ~ '">' ~ number ~ '</a>') %}
                        {% else %}
                            {% set _ = car_numbers.append(number) %}
                        {% endif %}
                    {% endfor %}
                    {{ car_numbers|join('-')|safe }}
                </td>
                {% if train.scrapped %}
                <td class="scrapped">Scrapped</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>X'Trapolis 2.0</h4></th></tr>
            {% for train in xtrap2_trains %}
            <tr>
                <td class="{% if train.scrapped %}scrapped{% endif %}">
                    {% set car_numbers = [] %}
                    {% for number in train.cars %}
                        {% if number|upper in linkedNumbers %}
                            {% set _ = car_numbers.append('<a href="/trains/' ~ number ~ '">' ~ number ~ '</a>') %}
                        {% else %}
                            {% set _ = car_numbers.append(number) %}
                        {% endif %}
                    {% endfor %}
                    {{ car_numbers|join('-')|safe }}
                </td>
                {% if train.scrapped %}
                <td class="scrapped">Scrapped</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>
    
    <br>
    <div class="sub-heading" id="vline">
        <h2>V/Line</h2>
        <p>All cars with links have photos</p>
    </div>
    <br>
    <div class="metro">
    <div class="table-container">
        <table>
            <tr><th><h4>VLocity</h4></th></tr>
            {% for train in vlocity_trains %}
            <tr>
                <td class="{% if train.scrapped %}scrapped{% endif %}">
                    {% set car_numbers = [] %}
                    {% for number in train.cars %}
                        {% if number|upper in linkedNumbers %}
                            {% set _ = car_numbers.append('<a href="/trains/' ~ number ~ '">' ~ number ~ '</a>') %}
                        {% else %}
                            {% set _ = car_numbers.append(number) %}
                        {% endif %}
                    {% endfor %}
                    {{ car_numbers|join('-')|safe }}
                </td>
                {% if train.scrapped %}
                <td class="scrapped">Scrapped</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="table-container">
        <table>
            <tr><th><h4>N Class</h4></th></tr>
            {% for train in ncl_trains %}
            <tr>
                <td class="{% if train.scrapped %}scrapped{% endif %}">
                    {% set car_numbers = [] %}
                    {% for number in train.cars %}
                        {% if number|upper in linkedNumbers %}
                            {% set _ = car_numbers.append('<a href="/trains/' ~ number ~ '">' ~ number ~ '</a>') %}
                        {% else %}
                            {% set _ = car_numbers.append(number) %}
                        {% endif %}
                    {% endfor %}
                    {{ car_numbers|join('-')|safe }}
                </td>
                {% if train.scrapped %}
                <td class="scrapped">Scrapped</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>

   <div class="table-container">
        <table>
            <tr><th><h4>Sprinter</h4></th></tr>
            {% for train in sprinter_trains %}
            <tr>
                <td class="{% if train.scrapped %}scrapped{% endif %}">
                    {% set car_numbers = [] %}
                    {% for number in train.cars %}
                        {% if number|upper in linkedNumbers %}
                            {% set _ = car_numbers.append('<a href="/trains/' ~ number ~ '">' ~ number ~ '</a>') %}
                        {% else %}
                            {% set _ = car_numbers.append(number) %}
                        {% endif %}
                    {% endfor %}
                    {{ car_numbers|join('-')|safe }}
                </td>
                {% if train.scrapped %}
                <td class="scrapped">Scrapped</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>

    
    <div class="blurbg">
    <h4>Harris/H set</h4>
    <ul>
        H sets
        <li><a href="trains/melbourne/v/line/H-Set/SLH32.html">SL32</a></li>
        <li><a href="trains/melbourne/v/line/H-Set/SLH33.html">SL33</a></li>
        <br>Grey Ghost
        <li><a href="trains/melbourne/v/line/H-Set/903M.html">903M</a></li>

    </ul>
    </div>
</div>

<div class="sub-heading" id="other"><h2>Other</h2></div>
<!-- TEMP --><div class="metro">
    <br>

    <div class="table-container">
        <table>
            <tr><th><h4>A Class</h4></th></tr>
            <tr><td><a href="trains/melbourne/heritage/A-Class/A60.html">A60</a></td></tr>
            <tr><td><a href="trains/melbourne/heritage/A-Class/A70.html">A70</a></td></tr>
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>ACD Class</h4></th></tr>
            <tr><td><a href="trains/melbourne/freight/Aurizon/ACD6048.html">ACD6048</a></td></tr>
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>B Class</h4></th></tr>
            <tr><td><a href="trains/melbourne/heritage/B-Class/B65.html">B65</a></td></tr>
            <tr><td><a href="trains/melbourne/heritage/B-Class/B72.html">B72</a></td></tr>
            <tr><td><a href="trains/melbourne/heritage/B-Class/B83.html">B83</a></td></tr>
        </table>
    </div>
    
    <div class="table-container">
        <table>
            <tr><th><h4>BRM Class</h4></th></tr>
            <tr><td><a href="trains/melbourne/freight/BRM Class/BRM001.html">BRM001</a></td></tr>
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>C Class</h4></th></tr>
            <tr><td><a href="trains/melbourne/heritage/C-Class/C501.html">C501</a></td></tr>
        </table>
    </div>
    
    <div class="table-container">
        <table>
            <tr><th><h4>CSR Class</h4></th></tr>
            <tr><td><a href="trains/melbourne/freight/SCT-logistics/CSR012.html">CSR012</a></td></tr>
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>G Class</h4></th></tr>
            <tr><td><a href="trains/melbourne/freight/RAILFIRST/G512.html">G512</a></td></tr>
            <tr><td><a href="trains/melbourne/freight/RAILFIRST/G515.html">G515</a></td></tr>
            <tr><td><a href="trains/melbourne/freight/Pacific-National/G536.html">G536</a></td></tr>
            <tr><td><a href="trains/melbourne/freight/Pacific-National/G543.html">G543</a></td></tr>
        </table>
    </div>
    <div class="table-container">
        <table>
            <tr><th><h4>GM Class</h4></th></tr>
            <tr><td><a href="trains/melbourne/freight/GM Class/GM22.html">GM22</a></td></tr>
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>H Class</h4></th></tr>
            <tr><td><a href="trains/melbourne/heritage/H-Class/H220.html">H220</a></td></tr>
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>J Class</h4></th></tr>
            <tr><td><a href="trains/melbourne/heritage/J-Class/J515.html">J515</a></td></tr>
            <tr><td><a href="trains/melbourne/heritage/J-Class/J549.html">J549</a></td></tr>
            <tr><td><a href="trains/melbourne/heritage/J-Class/J550.html">J550</a></td></tr>
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>K Class</h4></th></tr>
            <tr><td><a href="trains/melbourne/heritage/K-Class/K153.html">K153</a></td></tr>
            <tr><td><a href="trains/melbourne/heritage/K-Class/K190.html">K190</a></td></tr>
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>L Class</h4></th></tr>
            <tr><td><a href="trains/melbourne/heritage/L-Class/L1160.html">L1160</a></td></tr>
            <tr><td><a href="trains/melbourne/heritage/L-Class/L1150.html">L1150</a></td></tr>
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>NR Class</h4></th></tr>
            <tr><td><a href="trains/melbourne/freight/Pacific-National/NR12.html">NR12</a></td></tr>
            <tr><td><a href="trains/melbourne/freight/Pacific-National/NR30.html">NR30</a></td></tr>
            <tr><td><a href="trains/melbourne/freight/Pacific-National/NR50.html">NR50</a></td></tr>
            <tr><td><a href="trains/melbourne/freight/Pacific-National/NR69.html">NR69</a></td></tr>
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>P Class</h4></th></tr>
            <tr><td><a href="trains/melbourne/heritage/P-Class/P11.html">P11</a></td></tr>
            <tr><td><a href="trains/melbourne/heritage/P-Class/P12.html">P12</a></td></tr>
            <tr><td><a href="trains/melbourne/heritage/P-Class/P16.html">P16</a></td></tr>
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>R Class</h4></th></tr>
            <tr><td><a href="trains/melbourne/heritage/R-Class/R704.html">R704</a></td></tr>
            <tr><td><a href="trains/melbourne/heritage/R-Class/R761.html">R761</a></td></tr>
        </table>
    </div>

    </div>
    <div class="metro"> <!-- this seperated them so they fit on the screen -->

    <div class="table-container">
        <table>
            <tr><th><h4>S Class</h4></th></tr>
            <tr><td><a href="trains/melbourne/heritage/S-Class/S301.html">S301</a></td></tr>
            <tr><td><a href="trains/melbourne/heritage/S-Class/S302.html">S302</a></td></tr>
            <tr><td><a href="trains/melbourne/heritage/S-Class/S303.html">S303</a></td></tr>
            <tr><td><a href="trains/melbourne/heritage/S-Class/S307.html">S307</a></td></tr>
            <tr><td><a href="trains/melbourne/freight/SSR/S312.html">S312</a></td></tr>
            <tr><td><a href="trains/melbourne/heritage/S-Class/S313.html">S313</a></td></tr>
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>T Class</h4></th></tr>
            <tr><td><a href="trains/melbourne/heritage/t-class/T356.html">T356</a></td></tr>
            <tr><td><a href="trains/melbourne/heritage/t-class/T363.html">T363</a></td></tr>
            <tr><td><a href="trains/melbourne/heritage/t-class/T378.html">T378</a></td></tr>
            <tr><td><a href="trains/melbourne/heritage/t-class/T382.html">T382</a></td></tr>
        </table>
    </div>


    <div class="table-container">
        <table>
            <tr><th><h4>VL Class</h4></th></tr>
            <tr><td><a href="trains/melbourne/freight/RAILFIRST/VL353.html">VL353</a></td></tr>
            <tr><td><a href="trains/melbourne/freight/RAILFIRST/VL357.html">VL357</a></td></tr>
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>X Class</h4></th></tr>
            <tr><td><a href="trains/melbourne/heritage/X-Class/X36.html">X36</a></td></tr>
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>XR Class</h4></th></tr>
            <tr><td><a href="trains/melbourne/freight/Pacific-National/XR557.html">XR557</a></td></tr>
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>Y Class</h4></th></tr>
            <tr><td><a href="trains/melbourne/v/line/Y-Class/Y102.html">Y102</a></td></tr>
            <tr><td><a href="trains/melbourne/v/line/Y-Class/Y129.html">Y129</a></td></tr>
            <tr><td><a href="trains/melbourne/v/line/Y-Class/Y133.html">Y133</a></td></tr>
            <tr><td><a href="trains/melbourne/v/line/Y-Class/Y143.html">Y143</a></td></tr>
            <tr><td><a href="trains/melbourne/v/line/Y-Class/Y156.html">Y156</a></td></tr>
            <tr><td><a href="trains/melbourne/v/line/Y-Class/Y161.html">Y161</a></td></tr>
            <tr><td><a href="trains/melbourne/v/line/Y-Class/Y163.html">Y163</a></td></tr>
        </table>
    </div>
    

    <div class="table-container">
        <table>
            <tr><th><h4>Tait</h4></th></tr>
            <tr><td><a href="trains/melbourne/heritage/tait/317M.html">317M</a></td></tr>
            <tr><td><a href="trains/melbourne/heritage/tait/381M.html">381M</a></td></tr>
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>Infrastructure Evaluation Vehicles</h4></th></tr>
            <tr><td><a href="trains/melbourne/maintanence/EV120.html">EV120</a></td></tr>
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>Hitachi</h4></th></tr>
            <tr><td><a href='/trains/melbourne/heritage/hitachi/178M.html'>178M</a></td></tr>
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>DRC Railcar</h4></th></tr>
            <tr><td><a href="trains/melbourne/heritage/DRC/DRC43.html">DRC43</a></td></tr>
        </table>
    </div>
</div>

    <br>
    <div class="blurbg">
    <h2>Interstate</h2>
        <h3>South Australia</h3>
            <h4>300 Class</h4>
            <ul>
                <li><a href="/trains/south australia/703.html">703</a></li>
            </ul>
        <h3>New South Wales</h3>
            <h4>81 Class</h4>
            <ul>
                <li><a href="/trains/melbourne/freight/81%20Class/8122.html">8122</a></li>

            </ul>
        <h3>C44ACi Locomotives</h3>
        <ul>
            <li><a href='/trains/melbourne/freight/C44ACi/CF4404.html'>CF4404</a></li>
        </ul>

        <h3>Europe</h3>
            <h4>Eurostar</h4>
            <ul>
                <li><a href="trains/europe/Eurostar/4023.html">4023</a></li>
            </ul>
    </div>
<br>

<!-- <div class="sub-heading">
    <h2>Other Carriages</h2>
</div>
<div class="metro">
    <table>
        <tr><th>Carriage</th></tr>
        <tr><td><a href="/trains/melbourne/other-carriages/600 BK.html">600 BK</a></td></tr>
    </table>
</div> -->

<!-- Tram stuff -->
 <!--
<div class="sub-heading">
    <h2>Trams (Photos coming soon...)</h2>
</div>
<div class="metro">
    <div class="table-container">
        <table>
            <tr><th><h4>Z3 Class</h4></th></tr>
            <tr><td>Z3.116</td></tr>
            <tr><td>Z3.117</td></tr>
            <tr><td>Z3.118</td></tr>
            <tr><td>Z3.119</td></tr>
            <tr><td>Z3.120</td></tr>
            <tr><td>Z3.121</td></tr>
            <tr><td>Z3.122</td></tr>
            <tr><td>Z3.123</td></tr>
            <tr><td>Z3.124</td></tr>
            <tr><td>Z3.125</td></tr>
            <tr><td>Z3.126</td></tr>
            <tr><td>Z3.127</td></tr>
            <tr><td>Z3.128</td></tr>
            <tr><td>Z3.129</td></tr>
            <tr><td>Z3.130</td></tr>
            <tr><td>Z3.131</td></tr>
            <tr><td>Z3.132</td></tr>
            <tr><td>Z3.133</td></tr>
            <tr><td>Z3.134</td></tr>
            <tr><td>Z3.135</td></tr>
            <tr><td>Z3.136</td></tr>
            <tr><td>Z3.137</td></tr>
            <tr><td>Z3.138</td></tr>
            <tr><td>Z3.139</td></tr>
            <tr><td>Z3.140</td></tr>
            <tr><td>Z3.141</td></tr>
            <tr><td>Z3.142</td></tr>
            <tr><td>Z3.143</td></tr>
            <tr><td>Z3.144</td></tr>
            <tr><td>Z3.145</td></tr>
            <tr><td>Z3.146</td></tr>
            <tr><td>Z3.147</td></tr>
            <tr><td>Z3.148</td></tr>
            <tr><td>Z3.149</td></tr>
            <tr><td>Z3.150</td></tr>
            <tr><td>Z3.151</td></tr>
            <tr><td>Z3.152</td></tr>
            <tr><td>Z3.153</td></tr>
            <tr><td>Z3.154</td></tr>
            <tr><td>Z3.155</td></tr>
            <tr><td>Z3.156</td></tr>
            <tr><td>Z3.157</td></tr>
            <tr><td>Z3.158</td></tr>
            <tr><td>Z3.159</td></tr>
            <tr><td>Z3.160</td></tr>
            <tr><td>Z3.161</td></tr>
            <tr><td>Z3.162</td></tr>
            <tr><td>Z3.163</td></tr>
            <tr><td>Z3.164</td></tr>
            <tr><td>Z3.165</td></tr>
            <tr><td>Z3.166</td></tr>
            <tr><td>Z3.167</td></tr>
            <tr><td>Z3.168</td></tr>
            <tr><td>Z3.169</td></tr>
            <tr><td>Z3.170</td></tr>
            <tr><td>Z3.171</td></tr>
            <tr><td>Z3.172</td></tr>
            <tr><td>Z3.173</td></tr>
            <tr><td>Z3.174</td></tr>
            <tr><td>Z3.175</td></tr>
            <tr><td>Z3.176</td></tr>
            <tr><td>Z3.177</td></tr>
            <tr><td>Z3.178</td></tr>
            <tr><td>Z3.179</td></tr>
            <tr><td>Z3.180</td></tr>
            <tr><td>Z3.181</td></tr>
            <tr><td>Z3.182</td></tr>
            <tr><td>Z3.183</td></tr>
            <tr><td>Z3.184</td></tr>
            <tr><td>Z3.185</td></tr>
            <tr><td>Z3.186</td></tr>
            <tr><td>Z3.187</td></tr>
            <tr><td>Z3.188</td></tr>
            <tr><td>Z3.189</td></tr>
            <tr><td>Z3.190</td></tr>
            <tr><td>Z3.191</td></tr>
            <tr><td>Z3.192</td></tr>
            <tr><td>Z3.193</td></tr>
            <tr><td>Z3.194</td></tr>
            <tr><td>Z3.195</td></tr>
            <tr><td>Z3.196</td></tr>
            <tr><td>Z3.197</td></tr>
            <tr><td>Z3.198</td></tr>
            <tr><td>Z3.199</td></tr>
            <tr><td>Z3.200</td></tr>
            <tr><td>Z3.201</td></tr>
            <tr><td>Z3.202</td></tr>
            <tr><td>Z3.203</td></tr>
            <tr><td>Z3.204</td></tr>
            <tr><td>Z3.205</td></tr>
            <tr><td>Z3.206</td></tr>
            <tr><td>Z3.207</td></tr>
            <tr><td>Z3.208</td></tr>
            <tr><td>Z3.209</td></tr>
            <tr><td>Z3.210</td></tr>
            <tr><td>Z3.211</td></tr>
            <tr><td>Z3.212</td></tr>
            <tr><td>Z3.213</td></tr>
            <tr><td>Z3.214</td></tr>
            <tr><td>Z3.215</td></tr>
            <tr><td>Z3.216</td></tr>
            <tr><td>Z3.217</td></tr>
            <tr><td>Z3.218</td></tr>
            <tr><td>Z3.219</td></tr>
            <tr><td>Z3.220</td></tr>
            <tr><td>Z3.221</td></tr>
            <tr><td>Z3.222</td></tr>
            <tr><td>Z3.223</td></tr>
            <tr><td>Z3.224</td></tr>
            <tr><td>Z3.225</td></tr>
            <tr><td>Z3.226</td></tr>
            <tr><td>Z3.227</td></tr>
            <tr><td>Z3.228</td></tr>
            <tr><td>Z3.229</td></tr>
            <tr><td>Z3.230</td></tr>              
        </table>
    </div>
    <div class="table-container">
        <table>
            <th><h4>A Class</h4></th>
            <tr><td>A1.231</td></tr>
            <tr><td>A1.232</td></tr>
            <tr><td>A1.233</td></tr>
            <tr><td>A1.234</td></tr>
            <tr><td>A1.235</td></tr>
            <tr><td>A1.236</td></tr>
            <tr><td>A1.237</td></tr>
            <tr><td>A1.238</td></tr>
            <tr><td>A1.239</td></tr>
            <tr><td>A1.240</td></tr>
            <tr><td>A1.241</td></tr>
            <tr><td>A1.242</td></tr>
            <tr><td>A1.243</td></tr>
            <tr><td>A1.244</td></tr>
            <tr><td>A1.245</td></tr>
            <tr><td>A1.246</td></tr>
            <tr><td>A1.247</td></tr>
            <tr><td>A1.248</td></tr>
            <tr><td>A1.249</td></tr>
            <tr><td>A1.250</td></tr>
            <tr><td>A1.251</td></tr>
            <tr><td>A1.252</td></tr>
            <tr><td>A1.253</td></tr>
            <tr><td>A1.254</td></tr>
            <tr><td>A1.255</td></tr>
            <tr><td>A1.256</td></tr>
            <tr><td>A1.257</td></tr>
            <tr><td>A1.258</td></tr>
            <tr><td>A2.259</td></tr>
            <tr><td>A2.260</td></tr>
            <tr><td>A2.261</td></tr>
            <tr><td>A2.262</td></tr>
            <tr><td>A2.263</td></tr>
            <tr><td>A2.264</td></tr>
            <tr><td>A2.265</td></tr>
            <tr><td>A2.266</td></tr>
            <tr><td>A2.267</td></tr>
            <tr><td>A2.268</td></tr>
            <tr><td>A2.269</td></tr>
            <tr><td>A2.270</td></tr>
            <tr><td>A2.271</td></tr>
            <tr><td>A2.272</td></tr>
            <tr><td>A2.273</td></tr>
            <tr><td>A2.274</td></tr>
            <tr><td>A2.275</td></tr>
            <tr><td>A2.276</td></tr>
            <tr><td>A2.277</td></tr>
            <tr><td>A2.278</td></tr>
            <tr><td>A2.279</td></tr>
            <tr><td>A2.280</td></tr>
            <tr><td>A2.281</td></tr>
            <tr><td>A2.282</td></tr>
            <tr><td>A2.283</td></tr>
            <tr><td>A2.284</td></tr>
            <tr><td>A2.285</td></tr>
            <tr><td>A2.286</td></tr>
            <tr><td>A2.287</td></tr>
            <tr><td>A2.288</td></tr>
            <tr><td>A2.289</td></tr>
            <tr><td>A2.290</td></tr>
            <tr><td>A2.291</td></tr>
            <tr><td>A2.292</td></tr>
            <tr><td>A2.293</td></tr>
            <tr><td>A2.294</td></tr>
            <tr><td>A2.295</td></tr>
            <tr><td>A2.296</td></tr>
            <tr><td>A2.297</td></tr>
            <tr><td>A2.298</td></tr>
            <tr><td>A2.299</td></tr>
            <tr><td>A2.300</td></tr>
        </table>
    </div>
    <div class="table-container">
        <table>
            <th><h4>B2 Class</h4></th>
            <tr><td>B2.2003</td></tr>
            <tr><td>B2.2004</td></tr>
            <tr><td>B2.2005</td></tr>
            <tr><td>B2.2006</td></tr>
            <tr><td>B2.2007</td></tr>
            <tr><td>B2.2008</td></tr>
            <tr><td>B2.2009</td></tr>
            <tr><td>B2.2010</td></tr>
            <tr><td>B2.2011</td></tr>
            <tr><td>B2.2012</td></tr>
            <tr><td>B2.2013</td></tr>
            <tr><td>B2.2014</td></tr>
            <tr><td>B2.2015</td></tr>
            <tr><td>B2.2016</td></tr>
            <tr><td>B2.2017</td></tr>
            <tr><td>B2.2018</td></tr>
            <tr><td>B2.2019</td></tr>
            <tr><td>B2.2020</td></tr>
            <tr><td>B2.2021</td></tr>
            <tr><td>B2.2022</td></tr>
            <tr><td>B2.2023</td></tr>
            <tr><td>B2.2024</td></tr>
            <tr><td>B2.2025</td></tr>
            <tr><td>B2.2026</td></tr>
            <tr><td>B2.2027</td></tr>
            <tr><td>B2.2028</td></tr>
            <tr><td>B2.2029</td></tr>
            <tr><td>B2.2030</td></tr>
            <tr><td>B2.2031</td></tr>
            <tr><td>B2.2032</td></tr>
            <tr><td>B2.2033</td></tr>
            <tr><td>B2.2034</td></tr>
            <tr><td>B2.2035</td></tr>
            <tr><td>B2.2036</td></tr>
            <tr><td>B2.2037</td></tr>
            <tr><td>B2.2038</td></tr>
            <tr><td>B2.2039</td></tr>
            <tr><td>B2.2040</td></tr>
            <tr><td>B2.2041</td></tr>
            <tr><td>B2.2042</td></tr>
            <tr><td>B2.2043</td></tr>
            <tr><td>B2.2044</td></tr>
            <tr><td>B2.2045</td></tr>
            <tr><td>B2.2046</td></tr>
            <tr><td>B2.2047</td></tr>
            <tr><td>B2.2048</td></tr>
            <tr><td>B2.2049</td></tr>
            <tr><td>B2.2050</td></tr>
            <tr><td>B2.2051</td></tr>
            <tr><td>B2.2052</td></tr>
            <tr><td>B2.2053</td></tr>
            <tr><td>B2.2054</td></tr>
            <tr><td>B2.2055</td></tr>
            <tr><td>B2.2056</td></tr>
            <tr><td>B2.2057</td></tr>
            <tr><td>B2.2058</td></tr>
            <tr><td>B2.2059</td></tr>
            <tr><td>B2.2060</td></tr>
            <tr><td>B2.2061</td></tr>
            <tr><td>B2.2062</td></tr>
            <tr><td>B2.2063</td></tr>
            <tr><td>B2.2064</td></tr>
            <tr><td>B2.2065</td></tr>
            <tr><td>B2.2066</td></tr>
            <tr><td>B2.2067</td></tr>
            <tr><td>B2.2068</td></tr>
            <tr><td>B2.2069</td></tr>
            <tr><td>B2.2070</td></tr>
            <tr><td>B2.2071</td></tr>
            <tr><td>B2.2072</td></tr>
            <tr><td>B2.2073</td></tr>
            <tr><td>B2.2074</td></tr>
            <tr><td>B2.2075</td></tr>
            <tr><td>B2.2076</td></tr>
            <tr><td>B2.2077</td></tr>
            <tr><td>B2.2078</td></tr>
            <tr><td>B2.2079</td></tr>
            <tr><td>B2.2080</td></tr>
            <tr><td>B2.2081</td></tr>
            <tr><td>B2.2082</td></tr>
            <tr><td>B2.2083</td></tr>
            <tr><td>B2.2084</td></tr>
            <tr><td>B2.2085</td></tr>
            <tr><td>B2.2086</td></tr>
            <tr><td>B2.2087</td></tr>
            <tr><td>B2.2088</td></tr>
            <tr><td>B2.2089</td></tr>
            <tr><td>B2.2090</td></tr>
            <tr><td>B2.2091</td></tr>
            <tr><td>B2.2092</td></tr>
            <tr><td>B2.2093</td></tr>
            <tr><td>B2.2094</td></tr>
            <tr><td>B2.2095</td></tr>
            <tr><td>B2.2096</td></tr>
            <tr><td>B2.2097</td></tr>
            <tr><td>B2.2098</td></tr>
            <tr><td>B2.2099</td></tr>
            <tr><td>B2.2100</td></tr>
            <tr><td>B2.2101</td></tr>
            <tr><td>B2.2102</td></tr>
            <tr><td>B2.2103</td></tr>
            <tr><td>B2.2104</td></tr>
            <tr><td>B2.2105</td></tr>
            <tr><td>B2.2106</td></tr>
            <tr><td>B2.2107</td></tr>
            <tr><td>B2.2108</td></tr>
            <tr><td>B2.2109</td></tr>
            <tr><td>B2.2110</td></tr>
            <tr><td>B2.2111</td></tr>
            <tr><td>B2.2112</td></tr>
            <tr><td>B2.2113</td></tr>
            <tr><td>B2.2114</td></tr>
            <tr><td>B2.2115</td></tr>
            <tr><td>B2.2116</td></tr>
            <tr><td>B2.2117</td></tr>
            <tr><td>B2.2118</td></tr>
            <tr><td>B2.2119</td></tr>
            <tr><td>B2.2120</td></tr>
            <tr><td>B2.2121</td></tr>
            <tr><td>B2.2122</td></tr>
            <tr><td>B2.2123</td></tr>
            <tr><td>B2.2124</td></tr>
            <tr><td>B2.2125</td></tr>
            <tr><td>B2.2126</td></tr>
            <tr><td>B2.2127</td></tr>
            <tr><td>B2.2128</td></tr>
            <tr><td>B2.2129</td></tr>
            <tr><td>B2.2130</td></tr>
            <tr><td>B2.2131</td></tr>
            <tr><td>B2.2132</td></tr>
        </table>
    </div>
    <div class="table-container">
        <table>
            <th><h4>C Class</h4></th>
            <tr><td>C.3001</td></tr>
            <tr><td>C.3002</td></tr>
            <tr><td>C.3003</td></tr>
            <tr><td>C.3004</td></tr>
            <tr><td>C.3005</td></tr>
            <tr><td>C.3006</td></tr>
            <tr><td>C.3007</td></tr>
            <tr><td>C.3008</td></tr>
            <tr><td>C.3009</td></tr>
            <tr><td>C.3010</td></tr>
            <tr><td>C.3011</td></tr>
            <tr><td>C.3012</td></tr>
            <tr><td>C.3013</td></tr>
            <tr><td>C.3014</td></tr>
            <tr><td>C.3015</td></tr>
            <tr><td>C.3016</td></tr>
            <tr><td>C.3017</td></tr>
            <tr><td>C.3018</td></tr>
            <tr><td>C.3019</td></tr>
            <tr><td>C.3020</td></tr>
            <tr><td>C.3021</td></tr>
            <tr><td>C.3022</td></tr>
            <tr><td>C.3023</td></tr>
            <tr><td>C.3024</td></tr>
            <tr><td>C.3025</td></tr>
            <tr><td>C.3026</td></tr>
            <tr><td>C.3027</td></tr>
            <tr><td>C.3028</td></tr>
            <tr><td>C.3029</td></tr>
            <tr><td>C.3030</td></tr>
            <tr><td>C.3031</td></tr>
            <tr><td>C.3032</td></tr>
            <tr><td>C.3033</td></tr>
            <tr><td>C.3034</td></tr>
            <tr><td>C.3035</td></tr>
            <tr><td>C.3036</td></tr>
        </table>
    </div>
    <div class="table-container">
        <table>
            <th><h4>D Class</h4></th>
            <tr><td>D1.3501</td></tr>
            <tr><td>D1.3502</td></tr>
            <tr><td>D1.3503</td></tr>
            <tr><td>D1.3504</td></tr>
            <tr><td>D1.3505</td></tr>
            <tr><td>D1.3506</td></tr>
            <tr><td>D1.3507</td></tr>
            <tr><td>D1.3508</td></tr>
            <tr><td>D1.3509</td></tr>
            <tr><td>D1.3510</td></tr>
            <tr><td>D1.3511</td></tr>
            <tr><td>D1.3512</td></tr>
            <tr><td>D1.3513</td></tr>
            <tr><td>D1.3514</td></tr>
            <tr><td>D1.3515</td></tr>
            <tr><td>D1.3516</td></tr>
            <tr><td>D1.3517</td></tr>
            <tr><td>D1.3518</td></tr>
            <tr><td>D1.3519</td></tr>
            <tr><td>D1.3520</td></tr>
            <tr><td>D1.3521</td></tr>
            <tr><td>D1.3522</td></tr>
            <tr><td>D1.3523</td></tr>
            <tr><td>D1.3524</td></tr>
            <tr><td>D1.3525</td></tr>
            <tr><td>D1.3526</td></tr>
            <tr><td>D1.3527</td></tr>
            <tr><td>D1.3528</td></tr>
            <tr><td>D1.3529</td></tr>
            <tr><td>D1.3530</td></tr>
            <tr><td>D1.3531</td></tr>
            <tr><td>D1.3532</td></tr>
            <tr><td>D1.3533</td></tr>
            <tr><td>D1.3534</td></tr>
            <tr><td>D1.3535</td></tr>
            <tr><td>D1.3536</td></tr>
            <tr><td>D1.3537</td></tr>
            <tr><td>D1.3538</td></tr>
            <tr><td>D2.5001</td></tr>
            <tr><td>D2.5002</td></tr>
            <tr><td>D2.5003</td></tr>
            <tr><td>D2.5004</td></tr>
            <tr><td>D2.5005</td></tr>
            <tr><td>D2.5006</td></tr>
            <tr><td>D2.5007</td></tr>
            <tr><td>D2.5008</td></tr>
            <tr><td>D2.5009</td></tr>
            <tr><td>D2.5010</td></tr>
            <tr><td>D2.5011</td></tr>
            <tr><td>D2.5012</td></tr>
            <tr><td>D2.5013</td></tr>
            <tr><td>D2.5014</td></tr>
            <tr><td>D2.5015</td></tr>
            <tr><td>D2.5016</td></tr>
            <tr><td>D2.5017</td></tr>
            <tr><td>D2.5018</td></tr>
            <tr><td>D2.5019</td></tr>
            <tr><td>D2.5020</td></tr>
            <tr><td>D2.5021</td></tr>
        </table>
        </div>
        <div class="table-container">
            <table>
                <tr><th><h4>C2 Class</h4></th><th>Name</th></tr>
                <tr><td>C2.5123</td><td>Bumblebee 1</td></tr>
                <tr><td>C2.5113</td><td>Bumblebee 2</td></tr>
                <tr><td>C2.5103</td><td>Bumblebee 3</td></tr>
                <tr><td>C2.5106</td><td>Bumblebee 4</td></tr>
                <tr><td>C2.5111</td><td>Bumblebee 5</td></tr>
            </table>
        </div>
        <div class="table-container">
            <table>
                <tr><th><h4>E Class</h4></th></tr>
                <tr><td>E.6001</td></tr>
                <tr><td>E.6002</td></tr>
                <tr><td>E.6003</td></tr>
                <tr><td>E.6004</td></tr>
                <tr><td>E.6005</td></tr>
                <tr><td>E.6006</td></tr>
                <tr><td>E.6007</td></tr>
                <tr><td>E.6008</td></tr>
                <tr><td>E.6009</td></tr>
                <tr><td>E.6010</td></tr>
                <tr><td>E.6011</td></tr>
                <tr><td>E.6012</td></tr>
                <tr><td>E.6013</td></tr>
                <tr><td>E.6014</td></tr>
                <tr><td>E.6015</td></tr>
                <tr><td>E.6016</td></tr>
                <tr><td>E.6017</td></tr>
                <tr><td>E.6018</td></tr>
                <tr><td>E.6019</td></tr>
                <tr><td>E.6020</td></tr>
                <tr><td>E.6021</td></tr>
                <tr><td>E.6022</td></tr>
                <tr><td>E.6023</td></tr>
                <tr><td>E.6024</td></tr>
                <tr><td>E.6025</td></tr>
                <tr><td>E.6026</td></tr>
                <tr><td>E.6027</td></tr>
                <tr><td>E.6028</td></tr>
                <tr><td>E.6029</td></tr>
                <tr><td>E.6030</td></tr>
                <tr><td>E.6031</td></tr>
                <tr><td>E.6032</td></tr>
                <tr><td>E.6033</td></tr>
                <tr><td>E.6034</td></tr>
                <tr><td>E.6035</td></tr>
                <tr><td>E.6036</td></tr>
                <tr><td>E.6037</td></tr>
                <tr><td>E.6038</td></tr>
                <tr><td>E.6039</td></tr>
                <tr><td>E.6040</td></tr>
                <tr><td>E.6041</td></tr>
                <tr><td>E.6042</td></tr>
                <tr><td>E.6043</td></tr>
                <tr><td>E.6044</td></tr>
                <tr><td>E.6045</td></tr>
                <tr><td>E.6046</td></tr>
                <tr><td>E.6047</td></tr>
                <tr><td>E.6048</td></tr>
                <tr><td>E.6049</td></tr>
                <tr><td>E.6050</td></tr>
                <tr><td>E2.6051</td></tr>
                <tr><td>E2.6052</td></tr>
                <tr><td>E2.6053</td></tr>
                <tr><td>E2.6054</td></tr>
                <tr><td>E2.6055</td></tr>
                <tr><td>E2.6056</td></tr>
                <tr><td>E2.6057</td></tr>
                <tr><td>E2.6058</td></tr>
                <tr><td>E2.6059</td></tr>
                <tr><td>E2.6060</td></tr>
                <tr><td>E2.6061</td></tr>
                <tr><td>E2.6062</td></tr>
                <tr><td>E2.6063</td></tr>
                <tr><td>E2.6064</td></tr>
                <tr><td>E2.6065</td></tr>
                <tr><td>E2.6066</td></tr>
                <tr><td>E2.6067</td></tr>
                <tr><td>E2.6068</td></tr>
                <tr><td>E2.6069</td></tr>
                <tr><td>E2.6070</td></tr>
                <tr><td>E2.6071</td></tr>
                <tr><td>E2.6072</td></tr>
                <tr><td>E2.6073</td></tr>
                <tr><td>E2.6074</td></tr>
                <tr><td>E2.6075</td></tr>
                <tr><td>E2.6076</td></tr>
                <tr><td>E2.6077</td></tr>
                <tr><td>E2.6078</td></tr>
                <tr><td>E2.6079</td></tr>
                <tr><td>E2.6080</td></tr>
                <tr><td>E2.6081</td></tr>
                <tr><td>E2.6082</td></tr>
                <tr><td>E2.6083</td></tr>
                <tr><td>E2.6084</td></tr>
                <tr><td>E2.6085</td></tr>
                <tr><td>E2.6086</td></tr>
                <tr><td>E2.6087</td></tr>
                <tr><td>E2.6088</td></tr>
                <tr><td>E2.6089</td></tr>
                <tr><td>E2.6090</td></tr>
                <tr><td>E2.6091</td></tr>
                <tr><td>E2.6092</td></tr>
                <tr><td>E2.6093</td></tr>
                <tr><td>E2.6094</td></tr>
                <tr><td>E2.6095</td></tr>
                <tr><td>E2.6096</td></tr>
                <tr><td>E2.6097</td></tr>
                <tr><td>E2.6098</td></tr>
                <tr><td>E2.6099</td></tr>
                <tr><td>E2.6100</td></tr>
            </table>
            </div>
            <div class="table-container">
                <table>
                    <tr><th><h4>W Class</h4></th></tr>
                    <tr><td>W8.856</td></tr>
                    <tr><td>W8.888</td></tr>
                    <tr><td>W8.925</td></tr>
                    <tr><td>W8.928</td></tr>
                    <tr><td>W8.946</td></tr>
                    <tr><td>W8.957</td></tr>
                    <tr><td>W8.959</td></tr>
                    <tr><td>W8.961</td></tr>
                    <tr><td>W8.981</td></tr>
                    <tr><td>W8.983</td></tr>
                    <tr><td>W8.1000</td></tr>
                    <tr><td>W8.1010</td></tr>
                    </table>
                    </div>
    </div>-->
<br>   
<div class="blurbg">
    <br><br>
        <h1 id="stations">Stations</h1>
            <h2>Victoria</h2>
                <h3>Alamein Line</h3>
                <ul>
                    <li><a href="stations/melbourne/Hartwell.html">Hartwell</a></li>
                    <li><a href="stations/melbourne/Willison.html">Willison</a></li>
                    <li><a href="stations/melbourne/Camberwell.html">Camberwell</a></li>
                    <li><a href="stations/melbourne/Glenferrie.html">Glenferrie</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>
                </ul>
                <h3><a href='lines/Ararat.html'>Ararat Line</a></h3>
                <ul>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a> </li>
                </ul>

                <h3><a href='lines/Bendigo.html'>Bendigo Line</a></h3>
                <ul>
                    <li><a href="stations/melbourne/Malmsbury.html">Malmsbury</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a> </li>
                </ul>

                <h3><a href='/lines/Belgrave.html'>Belgrave Line</a></h3>
                <ul>
                    <li><a href="stations/melbourne/Tecoma.html">Tecoma</a></li>
                    <li><a href="stations/melbourne/Ferntree Gully.html">Ferntree Gully</a></li>
                    <li><a href="stations/melbourne/Boronia.html">Boronia</a></li>
                    <li><a href="stations/melbourne/Heathmont.html">Heathmont</a></li>
                    <li><a href="stations/melbourne/East Camberwell.html">East Camberwell</a></li>
                    <li><a href="stations/melbourne/Camberwell.html">Camberwell</a></li>
                    <li><a href="stations/melbourne/Glenferrie.html">Glenferrie</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>

                </ul>

                <h3><a href='/lines/Craigieburn.html'>Craigieburn Line</a></h3>
                <ul>
                    <li><a href="stations/melbourne/Craigieburn.html">Craigieburn</a></li>
                    <li><a href="stations/melbourne/Jacana.html">Jacana</a></li>
                    <li><a href="stations/melbourne/Kensington.html">Kensington</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>
                </ul>
                
                <h3><a href='/lines/Flemington Racecourse.html'>Flemington Racecourse</a></h3>
                <ul>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>
                </ul>

                <h3><a href="/lines/Geelong.html">Geelong Line</h3>
                <ul>
                    <li><a href='stations/melbourne/Marshall.html'>Marshall</a></li>
                    <li><a href="stations/melbourne/Geelong.html">Geelong</a></li>
                    <li><a href="stations/melbourne/Tarneit.html">Tarneit</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>
                </ul>

                <h3><a href='/lines/Frankston.html'>Frankston</a></h3>
                <ul>
                    <li><a href="stations/melbourne/Glen Huntly.html">Glen Huntly</a></li>
                    <li><a href="stations/melbourne/Hawksburn.html">Hawksburn</a></li>
                    <li><a href="stations/melbourne/South%20Yarra.html">South Yarra</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>

                </ul>


                <h3>Glen Waverley Line</h3>
                <ul>
                    <li><a href="stations/melbourne/Glen Waverley.html">Glen Waverley</a></li>
                    <li><a href="stations/melbourne/Gardiner.html">Gardiner</a></li>
                    <li><a href="stations/melbourne/Tooronga.html">Tooronga</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>
                </ul>

                <h3>Hurstbridge Line</h3>
                <ul>
                    <li><a href="stations/melbourne/West Richmond.html">West Richmond</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>
                </ul>

                <h3><a href='/lines/Lilydale.html'>Lilydale Line</a></h3>
                <ul>
                    <li><a href="stations/melbourne/Lilydale.html">Lilydale</a></li>
                    <li><a href="stations/melbourne/Mooroolbark.html">Mooroolbark</a></li>
                    <li><a href="stations/melbourne/East Camberwell.html">East Camberwell</a></li>
                    <li><a href="stations/melbourne/Camberwell.html">Camberwell</a></li>
                    <li><a href="stations/melbourne/Glenferrie.html">Glenferrie</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>
                </ul>
                <h3>Maryborough Line</h3>
                <ul>
                    <li><a href="stations/melbourne/Maryborough.html">Maryborough</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>

                </ul>
                <h3>Mernda Line</h3>
                <ul>
                    <li><a href="stations/melbourne/West Richmond.html">West Richmond</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>
                </ul>

                <h3><a href='/lines/Pakenham.html'>Pakenham Line</a></h3>
                <ul>
                    <li><a href="stations/melbourne/East%20Pakenham.html">East Pakenham</a></li>
                    <li><a href="stations/melbourne/Murrumbeena.html">Murrumbeena</a></li>
                    <li><a href="stations/melbourne/South%20Yarra.html">South Yarra</a></li>
                    <li><a href="stations/melbourne/Southern%20Cross.html">Southern Cross</a></li>

                </ul>
                
                <h3><a href="lines/Sandringham.html">Sandringham</a></h3>
                    <ul>
                        
                    </ul>

                <h3>Stony Point Line</h3>
                <ul>
                    <li><a href="stations/melbourne/Stony Point.html">Stony Point</li>
                </ul>

                <h3><a href="lines/Sunbury.html">Sunbury</h3>
                <ul>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>

                </ul>

                <h3>Swan Hill Line</h3>
                <ul>
                    <li><a href="stations/melbourne/Raywood.html">Raywood</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>

                </ul>

                <h3>Upfield Line</h3>
                <ul>
                    <li><a href="stations/melbourne/Moreland.html">Moreland</a></li>
                    <li><a href="stations/melbourne/Royal Park.html">Royal Park</a></li>
                    <li><a href="stations/melbourne/Macaulay.html">Macaulay</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>

                </ul>
                
                <h3>Warrnambool Line</h3>
                <ul>
                    <li><a href="stations/melbourne/Warrnambool.html">Warrnambool</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>

                </ul>
                <h3>Werribee Line</h3>
                <ul>
                    <li><a href="stations/melbourne/Spotswood.html">Spotswood</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>

                </ul>
                <h3>Williamstown Line</h3>
                <ul>
                    <li><a href="stations/melbourne/Williamstown.html">Williamstown</a></li>
                    <li><a href="stations/melbourne/Williamstown Beach.html">Williamstown Beach</a></li>
                    <li><a href="stations/melbourne/North Williamstown.html">North Williamstown</a></li>
                    <li><a href="stations/melbourne/Spotswood.html">Spotswood</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>

                </ul>

                <h3>Other</h3>
                <ul>
                    <li><a href="stations/melbourne/Anzac.html">Anzac</a></li>
                    <li><a href="stations/melbourne/Noojee.html">Noojee</a></li>

                </ul>
        <h1>Other Stuff</h1>
        <ul>
            <li><a href='/other/vicstations.txt'>Text file list of all stations in Victoria</a></li>
            <li><a href='/other/nswstations.txt'>Text file list of all stations in New South Wales</a></li>

        </ul></div>
        <img class='map' src="map.svg" style="width: 100%;border: 0px;">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1sHhNEhcv_BiX-n2voNsH9-VQvWnehc8&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>

    <div class="counter">
        <script type="text/javascript" src="https://www.free-counters.org/count/f47x"></script><br>
        <a href='https://www.versicherungen.at/'>Versicherungen</a>
        <script type='text/javascript'
            src='https://whomania.com/ctr?id=52c7256afae0ae0ccc8085355a1c9d2c3fe16a60'></script>
    </div>
    <div class=blurbg>
    <p>
        No hotlinking or using images without crediting
        <br>All photos taken by Billy Evans unless otherwise stated<br><br>
        <b>Analytics:</b><br>
        We partner with Microsoft Clarity and Microsoft Advertising to capture how you use and interact with our website
        through behavioral metrics, heatmaps, and session replay to improve and market our products/services. Website
        usage data is captured using first and third-party cookies and other tracking technologies to determine the
        popularity of products/services and online activity. Additionally, we use this information for site optimization
        and fraud/security purposes For more information about how Microsoft collects and uses your data, visit the
        Microsoft Privacy Statement.
    </p>
    </div>
</body>