<!DOCTYPE html>
<html lang="en">

<head>
    <title>Victorian Rail Photos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Victorian Rail Photos is a website that hosts photos of trains and carriages in Victoria, Australia.">
    <meta name="keywords" content="xm9g, trains, 9g, ">
    <meta name="author" content="XM9G">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/indexStyle.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "lm3dnb8ha4");
    </script>
    <!-- Netlify Login -->
    <!-- <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> -->

</head>

 <script>
    const images = [
        "{{ url_for('static', filename='images/VL357.webp') }}",
        "https://res.cloudinary.com/dwfrb2wpw/image/upload/v1754123449/N461-5_vffwwc.webp",
        "https://res.cloudinary.com/dwfrb2wpw/image/upload/v1754123441/N452-2_s2cgvk.webp",
        "https://res.cloudinary.com/dwfrb2wpw/image/upload/v1754123422/B65_aykllx.webp",
        "https://res.cloudinary.com/dwfrb2wpw/image/upload/v1754122473/102M-4_fzhsbp.webp",
        "https://res.cloudinary.com/dwfrb2wpw/image/upload/v1754123322/2114_wlrnf0.webp",
    ];

    function getRandomImage() {
        return images[Math.floor(Math.random() * images.length)];
    }
    </script>

    <style>
    .background-image {
        background-image: var(--random-image);
        background-size: cover;
        background-repeat: no-repeat;
    }
    </style>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        document.body.style.setProperty('--random-image', `url(${getRandomImage()})`);
    });
    </script>

<body>
    <div class="heading">
        <h1>Victorian Rail Photos</h1>
        <h3 class="subheading">{{ stats.totalPhotos }} photos of {{ stats.totalTrains }} trains</h3>    </div>

    <div class="toggle-switch">
        <!-- search box -->
        <!-- <input type="text" id="searchInput" placeholder="Enter carriage number...">
        <button onclick="searchCarriage()">Search</button>
        <div id="notFound" style="display: none; color: red;">Carriage not found</div> -->
        <!-- Background toggle -->
        <div class="bg-toggle">
        <label for="background-toggle">Background Image</label>
        <input type="checkbox" id="background-toggle"></div>
    </div>
    <div class="searchForm">
        <div class="handle">🔍</div>
        <form>
                <p>Advanced Search</p><br>
                <label for="number">Number:</label>
                <input type="text" id="number" name="number"><br>

                <label for="type">Type:</label>
                <input type="text" id="type" name="type"><br>

                <label for="date">Date:</label>
                <input type="date" id="date" name="date"><br>

                <label for="location">Location:</label>
                <input type="text" id="location" name="location"><br>

                <label for="photographer">Photographer:</label>
                <input type="text" id="photographer" name="photographer"><br>

                <label for="featured">Featured Only</label>
                <input type="checkbox" id="featured" name="featured" value="featured"><br>

                <input type="submit" value="Search">

            </form>
        </div>
    <script>
    document.querySelector('.searchForm .handle').addEventListener('click', function(event) {
        event.stopPropagation(); // Prevent event from bubbling up
        document.querySelector('.searchForm').classList.toggle('active');
    });

    // Prevent form clicks from toggling the form
    document.querySelector('.searchForm form').addEventListener('click', function(event) {
        event.stopPropagation(); // Stop clicks inside the form from triggering the toggle
    });
    </script>

    <script>
    function searchCarriage() {
        let input = document.getElementById('searchInput').value.toUpperCase();
        let notFoundDiv = document.getElementById('notFound');
        
        // Try to find any link that contains the input text
        let links = document.getElementsByTagName('a');
        for (let link of links) {
            if (link.textContent.toUpperCase() === input) {
                window.location.href = link.href;
                notFoundDiv.style.display = 'none';
                return;
            }
        }
        
        // If we get here, no match was found
        notFoundDiv.style.display = 'block';
    }

    // Enable search on Enter key
    document.getElementById('searchInput').addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            searchCarriage();
        }
    });

    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    }

    document.addEventListener('DOMContentLoaded', function() {
        let number = getUrlParameter('number');
        if (number) {
            let links = document.getElementsByTagName('a');
            for (let link of links) {
                if (link.textContent.toUpperCase() === number.toUpperCase()) {
                    window.location.href = link.href;
                    return;
                }
            }
            document.getElementById('notFound').style.display = 'block';
        }
    });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
        new Crate({
          server: '1214139268725870602',
          channel: '1322889624250486848'
        })
      </script>

    <script>
        function updateBackground() {
            let isEnabled = localStorage.getItem('backgroundEnabled');

            if (isEnabled === null) {
                isEnabled = 'true';
                localStorage.setItem('backgroundEnabled', isEnabled);
            }

            isEnabled = isEnabled === 'true';

            document.body.classList.toggle('background-image', isEnabled);
            // document.body.style.setProperty('color', isEnabled ? 'white' : 'black');
            document.getElementById('background-toggle').checked = isEnabled;
        }

        document.getElementById('background-toggle').addEventListener('change', function () {
            const isEnabled = this.checked;
            localStorage.setItem('backgroundEnabled', isEnabled);
            updateBackground();
        });

        document.addEventListener('DOMContentLoaded', updateBackground);
    </script>
    <!-- <div data-netlify-identity-menu></div> -->


    <script>
        document.addEventListener('DOMContentLoaded', function() {
  const links = document.querySelectorAll('.unused-hover-image');
  const popupImage = document.getElementById('popup-image');
  const popupImg = popupImage.querySelector('img');

  links.forEach(link => {
    link.addEventListener('mouseenter', function(e) {
      const imagePath = this.getAttribute('data-image');
      if (imagePath) {
        popupImg.src = imagePath;
        popupImage.style.display = 'block';
        updatePopupPosition(e);
      }
    });

    link.addEventListener('mouseleave', function() {
      popupImage.style.display = 'none';
    });

    link.addEventListener('mousemove', updatePopupPosition);
  });

  function updatePopupPosition(e) {
    // Position the popup image near the mouse cursor
    popupImage.style.left = (e.pageX + 10) + 'px'; // 10px to the right of the cursor
    popupImage.style.top = (e.pageY + 10) + 'px';  // 10px below the cursor
  }
});
</script>

    <div class="sub-heading">
        <h2>Welcome!</h2>
        <b?>Welcome to VictorianRailPhotos.com, here we host hundreds of photos of Locomotives and Carriages in the state of Victoria, Australia. Our archive includes photos for most Metro and V/Line trains, as well as a growing collection of freight and heritage locomotives. We also have a large collection of photos of railway stations across Victoria, including suburban and regional stations.
        <br><br>
        Use the search menu on the right to find photos, or browse through the list below to see all the trains we have photos of below.
        <br><br>
        
        <br><br>
        Jump to:
        <br><a href="#metro">Metro Trains Melbourne</a>
        <br><a href="#vline">V/Line</a>
        <br><a href="#other">Freight/Heritage</a>
        <br><a href="#stations">Railway Stations</a>
        <br><br>
        <!-- <b>If you have any photos you would like to submit, please use the <a href="/submit.html">Submit Photo</a> page.</b> -->
        </p>
    </div>
    <!-- <a href="#stations">Jump to station photos</a> -->
    <div class="sub-heading" id="metro">
        <h2>Metro Trains Melbourne</h2>
        <p>All cars with links have photos</p>
    </div>
    
    <div class="metro">
    <div class="table-container">
        
        <table>
            <tr><th><h4>Comeng</h4></th></tr>
            {% for train in comeng_trains %}
            <tr>
                <td class="{% if train.scrapped %}scrapped{% endif %}">
                    {% set car_numbers = [] %}
                    {% for number in train.cars %}
                        {% if number|upper in linkedNumbers %}
                            {% set _ = car_numbers.append('<a href="/trains/' ~ number ~ '">' ~ number ~ '</a>') %}
                        {% else %}
                            {% set _ = car_numbers.append(number) %}
                        {% endif %}
                    {% endfor %}
                    {{ car_numbers|join('-')|safe }}
                </td>
                {% if train.scrapped %}
                <td class="scrapped">Scrapped</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    
    <div class="table-container">
        <table>
            <tr><th><h4>X'Trapolis 100</h4></th></tr>
            {% for train in xtrap100_trains %}
            <tr>
                <td class="{% if train.scrapped %}scrapped{% endif %}">
                    {% set car_numbers = [] %}
                    {% for number in train.cars %}
                        {% if number|upper in linkedNumbers %}
                            {% set _ = car_numbers.append('<a href="/trains/' ~ number ~ '">' ~ number ~ '</a>') %}
                        {% else %}
                            {% set _ = car_numbers.append(number) %}
                        {% endif %}
                    {% endfor %}
                    {{ car_numbers|join('-')|safe }}
                </td>
                {% if train.scrapped %}
                <td class="scrapped">Scrapped</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
   
    <div class="table-container">
        <table>
            <tr><th><h4>Siemens Nexas</h4></th></tr>
            {% for train in siemens_trains %}
            <tr>
                <td class="{% if train.scrapped %}scrapped{% endif %}">
                    {% set car_numbers = [] %}
                    {% for number in train.cars %}
                        {% if number|upper in linkedNumbers %}
                            {% set _ = car_numbers.append('<a href="/trains/' ~ number ~ '">' ~ number ~ '</a>') %}
                        {% else %}
                            {% set _ = car_numbers.append(number) %}
                        {% endif %}
                    {% endfor %}
                    {{ car_numbers|join('-')|safe }}
                </td>
                {% if train.scrapped %}
                <td class="scrapped">Scrapped</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>HCMT</h4></th></tr>
            {% for train in hcmt_trains %}
            <tr>
                <td class="{% if train.scrapped %}scrapped{% endif %}">
                    {% set car_numbers = [] %}
                    {% for number in train.cars %}
                        {% if number|upper in linkedNumbers %}
                            {% set _ = car_numbers.append('<a href="/trains/' ~ number ~ '">' ~ number ~ '</a>') %}
                        {% else %}
                            {% set _ = car_numbers.append(number) %}
                        {% endif %}
                    {% endfor %}
                    {{ car_numbers|join('-')|safe }}
                </td>
                {% if train.scrapped %}
                <td class="scrapped">Scrapped</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="table-container">
        <table>
            <tr><th><h4>X'Trapolis 2.0</h4></th></tr>
            {% for train in xtrap2_trains %}
            <tr>
                <td class="{% if train.scrapped %}scrapped{% endif %}">
                    {% set car_numbers = [] %}
                    {% for number in train.cars %}
                        {% if number|upper in linkedNumbers %}
                            {% set _ = car_numbers.append('<a href="/trains/' ~ number ~ '">' ~ number ~ '</a>') %}
                        {% else %}
                            {% set _ = car_numbers.append(number) %}
                        {% endif %}
                    {% endfor %}
                    {{ car_numbers|join('-')|safe }}
                </td>
                {% if train.scrapped %}
                <td class="scrapped">Scrapped</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>
    
    <br>
    <div class="sub-heading" id="vline">
        <h2>V/Line</h2>
        <p>All cars with links have photos</p>
    </div>
    <br>
    <div class="metro">
    <div class="table-container">
        <table>
            <tr><th><h4>VLocity</h4></th></tr>
            {% for train in vlocity_trains %}
            <tr>
                <td class="{% if train.scrapped %}scrapped{% endif %}">
                    {% set car_numbers = [] %}
                    {% for number in train.cars %}
                        {% if number|upper in linkedNumbers %}
                            {% set _ = car_numbers.append('<a href="/trains/' ~ number ~ '">' ~ number ~ '</a>') %}
                        {% else %}
                            {% set _ = car_numbers.append(number) %}
                        {% endif %}
                    {% endfor %}
                    {{ car_numbers|join('-')|safe }}
                </td>
                {% if train.scrapped %}
                <td class="scrapped">Scrapped</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="table-container">
        <table>
            <tr><th><h4>N Class</h4></th></tr>
            {% for train in ncl_trains %}
            <tr>
                <td class="{% if train.scrapped %}scrapped{% endif %}">
                    {% set car_numbers = [] %}
                    {% for number in train.cars %}
                        {% if number|upper in linkedNumbers %}
                            {% set _ = car_numbers.append('<a href="/trains/' ~ number ~ '">' ~ number ~ '</a>') %}
                        {% else %}
                            {% set _ = car_numbers.append(number) %}
                        {% endif %}
                    {% endfor %}
                    {{ car_numbers|join('-')|safe }}
                </td>
                {% if train.scrapped %}
                <td class="scrapped">Scrapped</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>

   <div class="table-container">
        <table>
            <tr><th><h4>Sprinter</h4></th></tr>
            {% for train in sprinter_trains %}
            <tr>
                <td class="{% if train.scrapped %}scrapped{% endif %}">
                    {% set car_numbers = [] %}
                    {% for number in train.cars %}
                        {% if number|upper in linkedNumbers %}
                            {% set _ = car_numbers.append('<a href="/trains/' ~ number ~ '">' ~ number ~ '</a>') %}
                        {% else %}
                            {% set _ = car_numbers.append(number) %}
                        {% endif %}
                    {% endfor %}
                    {{ car_numbers|join('-')|safe }}
                </td>
                {% if train.scrapped %}
                <td class="scrapped">Scrapped</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="sub-heading" id="other"><h2>Other</h2></div>
<!-- TEMP --><div class="metro"style='display: flex;flex-wrap: wrap;'>
    <br>
    {% set grouped_trains = {} %}
    {% for photo in otherTrains %}
        {% set class_name = photo[1] %}
        {% if class_name not in grouped_trains %}
            {% set _ = grouped_trains.update({class_name: []}) %}
        {% endif %}
        {% if photo[0] not in grouped_trains[class_name] %}
            {% set _ = grouped_trains[class_name].append(photo[0]) %}
        {% endif %}
    {% endfor %}

    {% for class_name, photos in grouped_trains.items() %}
        <div class="table-container">
            <table>
                <tr><th><h4>{{ class_name }}</h4></th></tr>
                {% for photo in photos %}
                    <tr><td><a href="trains/{{ photo }}">{{ photo }}</a></td></tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}

</div>

    <br>
    <!-- FINISH THIS LATER -->
    <!-- <div class="blurbg">
    <h2>Interstate</h2>
        <h3>South Australia</h3>
            <h4>300 Class</h4>
            <ul>
                <li><a href="/trains/south australia/703.html">703</a></li>
            </ul>
        <h3>New South Wales</h3>
            <h4>81 Class</h4>
            <ul>
                <li><a href="/trains/melbourne/freight/81%20Class/8122.html">8122</a></li>

            </ul>
        <h3>C44ACi Locomotives</h3>
        <ul>
            <li><a href='/trains/melbourne/freight/C44ACi/CF4404.html'>CF4404</a></li>
        </ul>

        <h3>Europe</h3>
            <h4>Eurostar</h4>
            <ul>
                <li><a href="trains/europe/Eurostar/4023.html">4023</a></li>
            </ul>
    </div> -->
<br>

<!-- <div class="sub-heading">
    <h2>Other Carriages</h2>
</div>
<div class="metro">
    <table>
        <tr><th>Carriage</th></tr>
        <tr><td><a href="/trains/melbourne/other-carriages/600 BK.html">600 BK</a></td></tr>
    </table>
</div> -->

<!-- Tram stuff -->
 
<div class="sub-heading">
    <h2>Trams</h2>
</div>
<div class="metro">
    <div class="table-container">
        <table>
            <tr><th><h4>A Class</h4></th></tr>
            {% for train in Aclass %}
                <tr>
                    <td class="{% if train.scrapped %}scrapped{% endif %}">
                        {% set number = train.tram %}
                        {% if number|upper in linkedNumbers %}
                            <a href="/trams/{{ number }}">{{ number }}</a>
                        {% else %}
                            {{ number }}
                        {% endif %}
                    </td>
                    {% if train.scrapped %}
                    <td class="scrapped">Scrapped</td>
                    {% endif %}
                </tr>
            {% endfor %}

        </table>
    </div>
    <div class="table-container">
        <table>
            <tr><th><h4>B Class</h4></th></tr>
            {% for train in Bclass %}
                <tr>
                    <td class="{% if train.scrapped %}scrapped{% endif %}">
                        {% set number = train.tram %}
                        {% if number|upper in linkedNumbers %}
                            <a href="/trams/{{ number }}">{{ number }}</a>
                        {% else %}
                            {{ number }}
                        {% endif %}
                    </td>
                    {% if train.scrapped %}
                    <td class="scrapped">Scrapped</td>
                    {% endif %}
                </tr>
            {% endfor %}

        </table>
    </div>
    <div class="table-container">
        <table>
            <tr><th><h4>C1 Class</h4></th></tr>
            {% for train in C1class %}
                <tr>
                    <td class="{% if train.scrapped %}scrapped{% endif %}">
                        {% set number = train.tram %}
                        {% if number|upper in linkedNumbers %}
                            <a href="/trams/{{ number }}">{{ number }}</a>
                        {% else %}
                            {{ number }}
                        {% endif %}
                    </td>
                    {% if train.scrapped %}
                    <td class="scrapped">Scrapped</td>
                    {% endif %}
                </tr>
            {% endfor %}

        </table>
    </div>
    <div class="table-container">
        <table>
            <tr><th><h4>C2 Class</h4></th></tr>
            {% for train in C2class %}
                <tr>
                    <td class="{% if train.scrapped %}scrapped{% endif %}">
                        {% set number = train.tram %}
                        {% if number|upper in linkedNumbers %}
                            <a href="/trams/{{ number }}">{{ number }}</a>
                        {% else %}
                            {{ number }}
                        {% endif %}
                    </td>
                    {% if train.scrapped %}
                    <td class="scrapped">Scrapped</td>
                    {% endif %}
                </tr>
            {% endfor %}

        </table>
    </div>
    <div class="table-container">
        <table>
            <tr><th><h4>D Class</h4></th></tr>
            {% for train in Dclass %}
                <tr>
                    <td class="{% if train.scrapped %}scrapped{% endif %}">
                        {% set number = train.tram %}
                        {% if number|upper in linkedNumbers %}
                            <a href="/trams/{{ number }}">{{ number }}</a>
                        {% else %}
                            {{ number }}
                        {% endif %}
                    </td>
                    {% if train.scrapped %}
                    <td class="scrapped">Scrapped</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="table-container">
        <table>
            <tr><th><h4>E Class</h4></th></tr>
            {% for train in Eclass %}
                <tr>
                    <td class="{% if train.scrapped %}scrapped{% endif %}">
                        {% set number = train.tram %}
                        {% if number|upper in linkedNumbers %}
                            <a href="/trams/{{ number }}">{{ number }}</a>
                        {% else %}
                            {{ number }}
                        {% endif %}
                    </td>
                    {% if train.scrapped %}
                    <td class="scrapped">Scrapped</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="table-container">
        <table>
            <tr><th><h4>W Class</h4></th></tr>
            {% for train in Wclass %}
                <tr>
                    <td class="{% if train.scrapped %}scrapped{% endif %}">
                        {% set number = train.tram %}
                        {% if number|upper in linkedNumbers %}
                            <a href="/trams/{{ number }}">{{ number }}</a>
                        {% else %}
                            {{ number }}
                        {% endif %}
                    </td>
                    {% if train.scrapped %}
                    <td class="scrapped">Scrapped</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="table-container">
        <table>
            <tr><th><h4>Z Class</h4></th></tr>
            {% for train in Zclass %}
                <tr>
                    <td class="{% if train.scrapped %}scrapped{% endif %}">
                        {% set number = train.tram %}
                        {% if number|upper in linkedNumbers %}
                            <a href="/trams/{{ number }}">{{ number }}</a>
                        {% else %}
                            {{ number }}
                        {% endif %}
                    </td>
                    {% if train.scrapped %}
                    <td class="scrapped">Scrapped</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>

<br>   
<div class="blurbg">
    <br><br>
        <h1 id="stations">Stations</h1>
            <h2>Victoria</h2>
                <h3>Alamein Line</h3>
                <ul>
                    <li><a href="stations/melbourne/Hartwell.html">Hartwell</a></li>
                    <li><a href="stations/melbourne/Willison.html">Willison</a></li>
                    <li><a href="stations/melbourne/Camberwell.html">Camberwell</a></li>
                    <li><a href="stations/melbourne/Glenferrie.html">Glenferrie</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>
                </ul>
                <h3><a href='lines/Ararat.html'>Ararat Line</a></h3>
                <ul>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a> </li>
                </ul>

                <h3><a href='lines/Bendigo.html'>Bendigo Line</a></h3>
                <ul>
                    <li><a href="stations/melbourne/Malmsbury.html">Malmsbury</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a> </li>
                </ul>

                <h3><a href='/lines/Belgrave.html'>Belgrave Line</a></h3>
                <ul>
                    <li><a href="stations/melbourne/Tecoma.html">Tecoma</a></li>
                    <li><a href="stations/melbourne/Ferntree Gully.html">Ferntree Gully</a></li>
                    <li><a href="stations/melbourne/Boronia.html">Boronia</a></li>
                    <li><a href="stations/melbourne/Heathmont.html">Heathmont</a></li>
                    <li><a href="stations/melbourne/East Camberwell.html">East Camberwell</a></li>
                    <li><a href="stations/melbourne/Camberwell.html">Camberwell</a></li>
                    <li><a href="stations/melbourne/Glenferrie.html">Glenferrie</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>

                </ul>

                <h3><a href='/lines/Craigieburn.html'>Craigieburn Line</a></h3>
                <ul>
                    <li><a href="stations/melbourne/Craigieburn.html">Craigieburn</a></li>
                    <li><a href="stations/melbourne/Jacana.html">Jacana</a></li>
                    <li><a href="stations/melbourne/Kensington.html">Kensington</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>
                </ul>
                
                <h3><a href='/lines/Flemington Racecourse.html'>Flemington Racecourse</a></h3>
                <ul>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>
                </ul>

                <h3><a href="/lines/Geelong.html">Geelong Line</h3>
                <ul>
                    <li><a href='stations/melbourne/Marshall.html'>Marshall</a></li>
                    <li><a href="stations/melbourne/Geelong.html">Geelong</a></li>
                    <li><a href="stations/melbourne/Tarneit.html">Tarneit</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>
                </ul>

                <h3><a href='/lines/Frankston.html'>Frankston</a></h3>
                <ul>
                    <li><a href="stations/melbourne/Glen Huntly.html">Glen Huntly</a></li>
                    <li><a href="stations/melbourne/Hawksburn.html">Hawksburn</a></li>
                    <li><a href="stations/melbourne/South%20Yarra.html">South Yarra</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>

                </ul>


                <h3>Glen Waverley Line</h3>
                <ul>
                    <li><a href="stations/melbourne/Glen Waverley.html">Glen Waverley</a></li>
                    <li><a href="stations/melbourne/Gardiner.html">Gardiner</a></li>
                    <li><a href="stations/melbourne/Tooronga.html">Tooronga</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>
                </ul>

                <h3>Hurstbridge Line</h3>
                <ul>
                    <li><a href="stations/melbourne/West Richmond.html">West Richmond</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>
                </ul>

                <h3><a href='/lines/Lilydale.html'>Lilydale Line</a></h3>
                <ul>
                    <li><a href="stations/melbourne/Lilydale.html">Lilydale</a></li>
                    <li><a href="stations/melbourne/Mooroolbark.html">Mooroolbark</a></li>
                    <li><a href="stations/melbourne/East Camberwell.html">East Camberwell</a></li>
                    <li><a href="stations/melbourne/Camberwell.html">Camberwell</a></li>
                    <li><a href="stations/melbourne/Glenferrie.html">Glenferrie</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>
                </ul>
                <h3>Maryborough Line</h3>
                <ul>
                    <li><a href="stations/melbourne/Maryborough.html">Maryborough</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>

                </ul>
                <h3>Mernda Line</h3>
                <ul>
                    <li><a href="stations/melbourne/West Richmond.html">West Richmond</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>
                </ul>

                <h3><a href='/lines/Pakenham.html'>Pakenham Line</a></h3>
                <ul>
                    <li><a href="stations/melbourne/East%20Pakenham.html">East Pakenham</a></li>
                    <li><a href="stations/melbourne/Murrumbeena.html">Murrumbeena</a></li>
                    <li><a href="stations/melbourne/South%20Yarra.html">South Yarra</a></li>
                    <li><a href="stations/melbourne/Southern%20Cross.html">Southern Cross</a></li>

                </ul>
                
                <h3><a href="lines/Sandringham.html">Sandringham</a></h3>
                    <ul>
                        
                    </ul>

                <h3>Stony Point Line</h3>
                <ul>
                    <li><a href="stations/melbourne/Stony Point.html">Stony Point</li>
                </ul>

                <h3><a href="lines/Sunbury.html">Sunbury</h3>
                <ul>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>

                </ul>

                <h3>Swan Hill Line</h3>
                <ul>
                    <li><a href="stations/melbourne/Raywood.html">Raywood</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>

                </ul>

                <h3>Upfield Line</h3>
                <ul>
                    <li><a href="stations/melbourne/Moreland.html">Moreland</a></li>
                    <li><a href="stations/melbourne/Royal Park.html">Royal Park</a></li>
                    <li><a href="stations/melbourne/Macaulay.html">Macaulay</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>

                </ul>
                
                <h3>Warrnambool Line</h3>
                <ul>
                    <li><a href="stations/melbourne/Warrnambool.html">Warrnambool</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>

                </ul>
                <h3>Werribee Line</h3>
                <ul>
                    <li><a href="stations/melbourne/Spotswood.html">Spotswood</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>

                </ul>
                <h3>Williamstown Line</h3>
                <ul>
                    <li><a href="stations/melbourne/Williamstown.html">Williamstown</a></li>
                    <li><a href="stations/melbourne/Williamstown Beach.html">Williamstown Beach</a></li>
                    <li><a href="stations/melbourne/North Williamstown.html">North Williamstown</a></li>
                    <li><a href="stations/melbourne/Spotswood.html">Spotswood</a></li>
                    <li><a href="stations/melbourne/Southern Cross.html">Southern Cross</a></li>

                </ul>

                <h3>Other</h3>
                <ul>
                    <li><a href="stations/melbourne/Anzac.html">Anzac</a></li>
                    <li><a href="stations/melbourne/Noojee.html">Noojee</a></li>

                </ul>
        <h1>Other Stuff</h1>
        <ul>
            <li><a href='/other/vicstations.txt'>Text file list of all stations in Victoria</a></li>
            <li><a href='/other/nswstations.txt'>Text file list of all stations in New South Wales</a></li>

        </ul></div>
        <img class='map' src="{{ url_for('static', filename='images/map.svg') }}" style="width: 100%;border: 0px;">
        <!-- <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1sHhNEhcv_BiX-n2voNsH9-VQvWnehc8&ehbc=2E312F&noprof=1" width="640" height="480"></iframe> -->

    <div class="counter">
        <script type="text/javascript" src="https://www.free-counters.org/count/f47x"></script><br>
        <a href='https://www.versicherungen.at/'>Versicherungen</a>
        <script type='text/javascript'
            src='https://whomania.com/ctr?id=52c7256afae0ae0ccc8085355a1c9d2c3fe16a60'></script>
    </div>
    <div class=blurbg>
    <p>
        No hotlinking or using images without crediting
        <br>All photos taken by Billy Evans unless otherwise stated<br><br>
        <b>Analytics:</b><br>
        We partner with Microsoft Clarity and Microsoft Advertising to capture how you use and interact with our website
        through behavioral metrics, heatmaps, and session replay to improve and market our products/services. Website
        usage data is captured using first and third-party cookies and other tracking technologies to determine the
        popularity of products/services and online activity. Additionally, we use this information for site optimization
        and fraud/security purposes For more information about how Microsoft collects and uses your data, visit the
        Microsoft Privacy Statement.
    </p>
    </div>
</body>