<!DOCTYPE html>
<html lang="en">
<head>
  <title>Search Results | Railway Photos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/photoPage.css') }}"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/results.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">

  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "lm3dnb8ha4");
    </script>
    {% if trains|length > 0 %}
        <meta property="og:image" content="{{ trains[0].url }}" />
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="description" content="Search results on VictorianRailPhotos.com">
</head>

<body>
    <div class="searchForm">
        <div class="handle">🔍</div>
        <form>
                <p>Advanced Search</p><br>
                <label for="number">Number:</label>
                <input type="text" id="number" name="number"><br>

                <label for="type">Type:</label>
                <input type="text" id="type" name="type"><br>

                <label for="date">Date:</label>
                <input type="date" id="date" name="date"><br>

                <label for="location">Location:</label>
                <input type="text" id="location" name="location"><br>

                <label for="photographer">Photographer:</label>
                <input type="text" id="photographer" name="photographer"><br>

                <label for="featured">Featured Only</label>
                <input type="checkbox" id="featured" name="featured" value="featured"><br>

                <input type="submit" value="Search">

            </form>
    </div>
    <script>
        document.querySelector('.searchForm .handle').addEventListener('click', function(event) {
            event.stopPropagation(); 
            document.querySelector('.searchForm').classList.toggle('active');
        });

        // Prevent form clicks from toggling the form
        document.querySelector('.searchForm form').addEventListener('click', function(event) {
            event.stopPropagation(); 
        });
    </script>

    <h1>{{ length }} Results</h1>

    <div class="photos-list">
        {% for train in trains %}
        <div class="train-card" data-featured="{{ train.featured }}">
                <a href="/trains/{{ train.number }}">
                    <img class="lazy-load" data-src="{{ train.url }}" alt="{{ train.type }} {{ train.number }}">
                </a>
                <div class="train-info">
                    <p><strong>Number:</strong> {{ train.number }}</p>
                    <p><strong>Type:</strong> {{ train.type }}</p>
                    <p><strong>Location:</strong> {{ train.location }}</p>
                    <p><strong>Date:</strong> {{ train.date }}</p>
                    <p><strong>Photographer:</strong> {{ train.photographer }}</p>
                    {% if train.note %}
                        <p><strong>Note:</strong> {{ train.note }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const images = document.querySelectorAll('.lazy-load');
            const options = { rootMargin: '50px', threshold: 0.1 };
            const observer = new IntersectionObserver((entries, observer) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        const img = entry.target;
                        const src = img.getAttribute('data-src');
                        if (src) {
                            img.src = src;
                            img.classList.remove('lazy-load');
                            img.onload = () => observer.unobserve(img);
                            img.onerror = () => {
                                console.error('Failed to load image:', src);
                                observer.unobserve(img);
                            };
                        }
                    }
                });
            }, options);
            images.forEach(img => observer.observe(img));
        });
    </script>
</body>